In [1]:
import sqlite3
import pandas as pd
from utils.bot import PetDB

In [2]:
db = PetDB(r"data/dyrevaernet.db")

In [3]:
# join pet and type tables
pd.read_sql("""
    SELECT pet.name, race.name AS race, type.name AS type, status.value as status
    FROM pet
    INNER JOIN race
    ON pet.race_id = race.id
    INNER JOIN type
    ON pet.type_id = type.id
    INNER JOIN status
    ON pet.status_id = status.id
    WHERE type.name = 'cat'""", 
    con=db.conn)

                 name              race type  status
0     Pingu (indekat)            Huskat  cat  active
1      Ulla (indekat)  Huskat / Ragdoll  cat  active
2  Toulouse (indekat)            Huskat  cat  active

In [10]:
# READ ALL FROM PET TABLE
pd.read_sql("SELECT * FROM pet", con=db.conn, index_col='id')

,name,age,type_id,race_id,teaser,url,creation,status_id
id,,,,,,,,
1,Frida,3 år,1,1,Frida er den skønneste og kærligste hundepige...,https://dyrevaernet.dk/dyr/?id=9104419a7b3648a...,2022-01-26 21:22:21,1
2,Cody,1 år,1,2,Med en hønsehunde-blanding måtte tidligere fa...,https://dyrevaernet.dk/dyr/?id=9abd9f9c0d084c1...,2022-01-26 21:22:21,1
3,Simba,7 mdr.,1,3,Grundet sygdom i tidligere familie er Simba n...,https://dyrevaernet.dk/dyr/?id=735e2e73049644f...,2022-01-26 21:22:22,1
4,Matteo,4 år,1,4,Matteo er som udgangspunkt ikke en krævende h...,https://dyrevaernet.dk/dyr/?id=381ea8b6aa614e9...,2022-01-26 21:22:22,1
5,Luca,2 år,1,5,Tidligere familie måtte sande at Luca (og mås...,https://dyrevaernet.dk/dyr/?id=ba91120f02914d1...,2022-01-26 21:22:22,1
6,Nikita,1½ år,1,6,Tidligere familie til smukke og meget elegant...,https://dyrevaernet.dk/dyr/?id=5e4e92149a314af...,2022-01-26 21:22:22,1
7,Dina,4½ år,1,7,Skilsmisse og efterfølgende manglende oversku...,https://dyrevaernet.dk/dyr/?id=840bbb8de03942e...,2022-01-26 21:22:23,1
8,Buster,7 år,1,8,Busters tidligere ejer måtte erkende at alder...,https://dyrevaernet.dk/dyr/?id=bf24efe295c34d3...,2022-01-26 21:22:23,1
9,Tjalfe,2 år,1,9,"Tjalfe er en smuk, snehvid dansk spids, som v...",https://dyrevaernet.dk/dyr/?id=a97fed387e17490...,2022-01-26 21:22:23,1
10,Bella,3 år,1,10,Må vi have lov at præsentere allerdejligste B...,https://dyrevaernet.dk/dyr/?id=5966ce85a36b4d1...,2022-01-26 21:22:23,1
11,Chorizo (udekat),1½ år,2,11,Mere info senere... Neutraliseret udekat VIGT...,https://dyrevaernet.dk/dyr/?id=7afd9b845a3e45c...,2022-01-26 21:22:24,1
12,Pingu (indekat),7 år,2,11,Mere info senere... Neutraliseret indekat VIG...,https://dyrevaernet.dk/dyr/?id=1dda4a8457c745a...,2022-01-26 21:22:25,1
13,Stribe (udekat),13½ år,2,11,"Stribe er en vanvittig flot kat, hans alder t...",https://dyrevaernet.dk/dyr/?id=247377e00bf54cf...,2022-01-26 21:22:25,1
14,Ulla (indekat),1½ år,2,12,Smukkeste Ulla kæver minimum 100kvm bolig. De...,https://dyrevaernet.dk/dyr/?id=b369c30fb1a54b7...,2022-01-26 21:22:25,1
15,Toulouse (indekat),9½ år,2,11,"Hvis man leder efter en charmetrold, der kan ...",https://dyrevaernet.dk/dyr/?id=9f8ef358a94e498...,2022-01-26 21:22:25,1
16,Charlie (udekilling),8 mdr.,2,13,Charlie har det hele! Han er knaldhamrende kø...,https://dyrevaernet.dk/dyr/?id=f7d819bf45934e5...,2022-01-26 21:22:25,1
17,Blackie (udekat),1 år,2,11,"Har man en forkærlighed for kulsorte katte, s...",https://dyrevaernet.dk/dyr/?id=0c29423ee114432...,2022-01-26 21:22:26,1
18,Bellatrix (udekat),4 år,2,11,"Bellatrix er vores smukke, sorte panter-pige,...",https://dyrevaernet.dk/dyr/?id=9501e09dfe8146e...,2022-01-26 21:22:26,1

In [74]:
# db.cur.execute("""
# UPDATE pet
# SET type_id = 1
# WHERE name = 'zylo'
# """)
# db.conn.commit()

In [9]:
# delete entry
# db.cur.execute("DELETE FROM pet WHERE id = 19")
# db.conn.commit()